body{
    background-size: cover;
    background-repeat: no-repeat;
}
#heading{
    color: #00d5ff;
    float: none;
}
#status{
font-size: 21px;
}
#fon{
    font-size: 21px;

}
canvas{
    border-radius: 20px;
    box-shadow: 5px 5px 18px black;
}
video{
    display: block;
}
.find{
    border: 0px solid white;
    width: 40%;
    height: 4%;
}